<h1>Listing articles</h1>
<%= link_to 'New article', new_article_path %>
<table>

<!--
地図に吹き出しをつけるコード実装中
<div class="row row-center">
  <div class='col-lg-2 col-md-3 col-sm-4 col-xs-5'>
    
  </div>
  <div class="col-lg-10 col-md-9 col-sm-8 col-xs-7">
    <div class="popover right show"style="position:relative; top=-90px; left=100px; max-width:100%; display:inline;">
      <div class="arrow"></div>
      <h3 class="popover-title">東京芸術大学 Mさん</h3>
      <div class="popover-content">
        <p>sample</p>
      </div>
    </div>
  </div>
</div>
-->
    <%= image_tag 'japanesemap.png', :size => '600x450' %>
    <% @location_weather_arr.each do |location_weather| %>
        <tr>
            <td><%= location_weather.city_name %></td>        
            <td><%= location_weather.today_weather %></td>
            <td><%= image_tag location_weather.today_weather_image_path, :size => '50x31'%></td>

        </tr>
    <% end %>

    

    <% @articles.each do |article| %>
        <tr>
            <td><%= article.title %></td>
            <td><%= article.text %></td>
            <td><%= link_to 'Show', article_path(article) %></td>
            <td><%= link_to 'Edit', edit_article_path(article) %></td>
            <td><%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>

