<h3>全国の天気</h3>
<table>
    <!-- 各地点の地点名、天気、天気画像を表示-->
    <% @location_weather_arr.each do |location_weather| %>
        <tr>
            <td><%= link_to location_weather.area_name,  '/area/kanto' %></td>
            <td><%= location_weather.city_name %></td>        
            <td><%= location_weather.today_weather %></td>
            <td><%= image_tag location_weather.today_weather_image_path, :size => '50x31'%></td>

        </tr>
    <% end %>

    
<!-- <%= link_to 'New article', new_article_path %>-->
    <% @articles.each do |article| %>
        <tr>
            <td><%= article.title %></td>
            <td><%= article.text %></td>
            <td><%= link_to 'Show', article_path(article) %></td>
            <td><%= link_to 'Edit', edit_article_path(article) %></td>
            <td><%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>

