<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application'%>

    <nav>
    <% if user_signed_in? %>
      <li><%= link_to "ログアウト", sign_out_path %></li>
    <% else %>
      <li><%= link_to "ログイン", new_user_session_path %></li>
      <li><%= link_to "新規登録", new_user_registration_path %></li>
    <% end %>
    </nav>
 
    <p class="notice"><%= notice%></p>
    <p class="alert"><%= alert%></p>
  </head>

  <body>  
    <%= yield %>
  </body>
</html>
