<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application'%>

  </head>

  <body>
  <!-- 
    <% if user_signed_in? %> //ログインしているか調べる
    //ログインしていた時の処理
    <ul class="nav navbar-nav navbar-right">
      <li><span class="navbar-text">ようこそ <strong><%= current_user.name %></strong>さん</li>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li> // ログアウトする
    </ul>
    <% else %>
    // ログインしていなかった時の処理
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "ログイン", new_user_session_path, class: 'post' %></li> // ログイン画面に移行する
      <li><%= link_to "新規登録", new_user_registration_path, class: 'post' %></li> // 新規登録画面に移行する
    </ul>
    <% end %>
-->    
    <%= yield %>

<!--
    <div id='Vueshop'>
      <table class="table">
        <tr>
        <th>都道府県</th>
        <td>
          <select id="shop_pref" class="form-control input-lg" >
            <option value="">都道府県を選択</option>
            <option v-for="item in pref" v-bind:value="item.no">{{item.name}}</option> 
          </select>
        </td>
        </tr>
      </table>
    </div>
-->
  </body>
</html>
